<form id="login_form">
    <div>
        <input type="email" placeholder="email@email.com" id="login_email" />
    </div>
    <div>
        <input type="password" placeholder="password" id="login_password" />
    </div>
    <button>Login</button>
</form>
<script src="/js/login.js"></script>